<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expreer基礎驗收</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header class="header">
    <div class="container">
      <a href="/" class="main-page">
        <button type="submit" class="btn">回到首頁</button>
      </a>
      <div class="button-end">
        <a href="/about" class="about-page">
          <button type="submit" class="btn {{clickabout}}">About</button>
        </a>
        <a href="/portfolio" class="portfolio-page">
          <button type="submit" class="btn {{clickportfolio}}">Portfolio</button>
        </a>
        <a href="/contact" class="contact-page">
          <button type="submit" class="btn {{clickcontact}}">Contact</button>
        </a>
      </div>

    </div>
  </header>
  <section class="main-content">
    {{{body}}}
  </section>

</body>

</html>